{% extends "base.html" %} {%load crispy_forms_tags %} {%block title%} |
{{article.title}}{%endblock%} {%block content%}
<div class="col-sm-12">
  <div class="card-columns-blog">
    <div class="card shadow-lg p-2 mb-5 rounded">
      <!-- Card img -->
      <div class="position-relative">
        <img class="card-img" src="{{article.image.url}}" alt="Card image" />
      </div>
      <div class="d-flex justify-content-start mt-2">
        <small class="nav-item mt-2">{{article.created.date}}</small>
      </div>

      <div class="card-body px-0 pt-3">
        <!-- Sponsored Post -->

        <h4 class="card-title mt-2">{{article.title}}</h4>
        <p class="card-text">{{article.description|linebreaks}}</p>
        <!-- Card info -->
        <hr />
        <div class="card-tag d-flex justify-content-start">
          <small>tags: </small>
          {% for tag in article.tags.all %}
          <a class="tag-link" href="{% url 'blog_url:tag_list' tag.slug %}">
            {{ tag.name }}
          </a>
          {% if not forloop.last %}, {% endif %} {% endfor %}
        </div>
        <hr />
        {% with comments.count as total_comments %}
        <h5>{{ total_comments }} comment{{ total_comments|pluralize }}</h5>
        {% endwith %} {% for comment in comments %}
        <div class="card mb-4">
          <div class="card-body">
            <p>{{ comment.comment|linebreaks }}</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <p class="small mb-0 ms-2">
                  {{ comment.name }} - {{comment.created.date }}
                </p>
              </div>
              <div class="d-flex flex-row align-items-center">
                <i
                  class="far fa-thumbs-up mx-2 fa-xs text-black"
                  style="margin-top: -0.16rem"
                ></i>
              </div>
            </div>
          </div>
        </div>

        {% empty %}
        <p>There are no comments yet.</p>
        {% endfor %} {% if new_comment %}
        <h3 class="search_h2">Your comment has been added.</h3>
        {% else %}
        <h4 class="search_h2">Leave a Comment</h4>
        <form method="post">
          {{ comment_form|crispy }} {% csrf_token %}
          <input
            name="submit"
            type="submit"
            id="submit"
            class="input-submit"
            value="Send a comment"
          />
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{%endblock%} {%block sidebar %}
<h4 class="fst-italic">Similar posts</h4>
<div class="list-group w-auto">
  {%for post in similar_articles%}
  <a
    href="{{post.get_absolute_url}}"
    class="list-group-item list-group-item-action d-flex gap-3 py-3"
    aria-current="true"
  >
    <div class="trend-img">
      <img
        src="{{post.image.url}}"
        alt="twbs"
        width="60"
        height="60"
        class="rounded-circle flex-shrink-0"
      />
    </div>
    <div class="trend-title d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mt-4">{{post.title}}</h6>
      </div>
    </div>
  </a>
  <!---->
  {% empty %} There are no similar posts yet. {%endfor%}

  <!---->
</div>
{%endblock%}
