{% extends "base.html" %} {%block content%} {% if tag %}
<h2 class="search_h2">| {{ tag.name }}</h2>

{%endif%}
<!---->{%for article in articles%}
<div class="col-sm-6">
  <div class="card shadow-lg p-2 mb-5 rounded">
    <!-- Card img -->
    <div class="position-relative">
      <img class="card-img" src="{{article.image.url}}" alt="Card image" />
      <div class="card-img-overlay d-flex align-items-start flex-column p-3">
        <!-- Card overlay bottom -->
        <div class="w-100 mt-auto">
          <!-- Card category -->
          <a
            href="{% url 'blog_url:category_list' article.category.slug%}"
            class="badge text-bg-success mb-2"
          >
            {{article.category}}</a
          >
        </div>
      </div>
    </div>

    <div class="card-body px-0 pt-3">
      <!-- Sponsored Post -->

      <h4 class="card-title mt-2">
        <a
          href="{{article.get_absolute_url}}"
          class="btn-link text-reset fw-bold"
          >{{article.title}}</a
        >
      </h4>
      <!-- Card info -->
      <hr />
      <div class="card-tag d-flex justify-content-start">
        <small>tags: </small>
        {% for tag in article.tags.all %}
        <a class="tag-link" href="{% url 'blog_url:tag_list' tag.slug %}">
          {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %} {% endfor %}
      </div>
      <div class="d-flex justify-content-end mt-2">
        <small class="nav-item">{{article.created.date}}</small>
      </div>
    </div>
  </div>
</div>

{%endfor%} {% include "pagination.html" with page=articles %}
<!---->
{%endblock%} {%block nav%}
<nav class="nav d-flex justify-content-between">
  {%for category in categories%} {%if category.name == category_view.name %}
  <a class="category-selected p-2" href="{{category.get_absolute_url}}"
    >{{category.name}}</a
  >{%else%}
  <a class="category p-2" href="{{category.get_absolute_url}}"
    >{{category.name}}</a
  >
  {%endif%} {%endfor%}
</nav>
{%endblock%}
