{% extends "base.html" %} {%block title%} | searching for
{{search_title}}{%endblock%} {%block content%}
<h2 class="search_h2">Posts containing '{{search_title}}'</h2>
{% with articles.count as total_count %}
<h4 class="search_h4">
  Found {{total_count}} result{{ total_count|pluralize }}
</h4>
{% endwith %} {%for article in articles%}
<div class="col-sm-6">
  <div class="card shadow-lg p-2 mb-5 rounded">
    <!-- Card img -->
    <div class="position-relative">
      <img class="card-img" src="{{article.image.url}}" alt="Card image" />
      <div class="card-img-overlay d-flex align-items-start flex-column p-3">
        <!-- Card overlay bottom -->
        <div class="w-100 mt-auto">
          <!-- Card category -->
          <a
            href="{% url 'blog_url:category_list' article.category.slug%}"
            class="badge text-bg-success mb-2"
          >
            {{article.category}}</a
          >
        </div>
      </div>
    </div>

    <div class="card-body px-0 pt-3">
      <!-- Sponsored Post -->

      <h4 class="card-title mt-2">
        <a
          href="{{article.get_absolute_url}}"
          class="btn-link text-reset fw-bold"
          >{{article.title}}</a
        >
      </h4>
      <p class="card-text">{{article.description|truncatechars:100}}</p>
      <!-- Card info -->
      <hr />
      <div class="card-tag d-flex justify-content-start">
        <small>tags: </small>
        {% for tag in article.tags.all %}
        <a class="tag-link" href="{% url 'blog_url:tag_list' tag.slug %}">
          {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %} {% endfor %}
      </div>
      <div class="d-flex justify-content-end mt-2">
        <small class="nav-item">{{article.created.date}}</small>
      </div>
    </div>
  </div>
</div>

{%endfor%} {%endblock%}
