
body{
  background-color: #1c1c21;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 3.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.category{
  border-width: 1px;
  border-style: solid;
  border-color: rgb(51, 51, 51);
  border-image: initial;
  border-radius: 9rem;
  margin-right: 3px;
  background-color: rgb(41, 41, 41);
  font-weight: 700;
  box-shadow: 0px 15px 45px -9px rgb(0 0 0 / 20%);

}
.category:hover{
  background-color: #58bed5;
  color: #fff;
}
a{
  text-decoration: none;
  color: aliceblue;
}
.form-control{
  background-color: #1f1f1f;
  font-weight: 600;
  color: aliceblue;
}
.form-control:focus{
  background-color: #1f1f1f;
  font-weight: 600;
  color: aliceblue;

}
.brand{
  color: #58bed5;
  font-weight: 700;
}
.brand:hover{
  color: #58bed5;
}
.btn-link{
  text-decoration: none;
}
.card{
  --bs-card-bg: #1c1c21;
  color: rgb(191, 191, 191);
  border-radius: 2rem;
  box-shadow: 0px 15px 45px -9px rgb(0 0 0 / 20%);
}
.card-title:hover{
  color: #58bed5;

}
.position-sticky{
  box-shadow: 0px 15px 45px -9px rgb(0 0 0 / 20%);
  color: rgb(191, 191, 191);
}
.list-group{
  --bs-list-group-bg:none;
  --bs-list-group-action-hover-bg:none;
}
.list-group-item{
  color: rgb(191, 191, 191);
}
.list-group-item:hover{
  --bs-list-group-bg:#1c1c21;
  color: rgb(191, 191, 191);
}
.tag{
  background-color: rgb(41, 41, 41);
  color: aliceblue;
  font-weight:400;
}
.tag:hover{
  background-color: #58bed5;
  color: #fff;
  
 
}
.card-tag{
  font-weight: 300;
  font-size: large;
}
.card-tag a:hover{
  color: #fff;

}


.pagination{
  --bs-pagination-bg: #097289;
}
.page-link{
  color: #fff;
  border-radius: 5rem;


}
.page-item{
  margin-left: 1rem;
  margin-top: 2rem;
}
.page-items{
margin-top: 32px;
margin-left: 1rem;
}
.card-img{
  height: 350px;
}

.trend-img{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.trend-title{
  margin-left: 70px;
  margin-bottom: 15px;
}
.search_h2{
  color: #097289;
}
.search_h4{
  color: rgb(191, 191, 191);

}
.input-submit{
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --woocommerce: hsla(312,26%,75%,1);
  --wc-green: hsla(94,60%,75%,1);
  --wc-red: hsla(0,60%,75%,1);
  --wc-orange: hsla(44,60%,75%,1);
  --wc-blue: hsla(196,60%,75%,1);
  --wc-primary: hsla(312,26%,75%,1);
  --wc-primary-text: hsla(0,0%,100%,1);
  --wc-secondary: hsla(0,0%,92%,1);
  --wc-secondary-text: hsla(0,0%,75%,1);
  --wc-highlight: hsla(102,26%,75%,1);
  --wc-highligh-text: hsla(0,0%,100%,1);
  --wc-content-bg: hsla(0,0%,100%,1);
  --wc-subtext: hsla(0,0%,75%,1);
  --woocommerce-night-eye: hsla(312,26%,52%,1);
  --wc-green-night-eye: hsla(139,61%,20%,1);
  --wc-red-night-eye: hsla(0,60%,33%,1);
  --wc-orange-night-eye: hsla(44,100%,20%,1);
  --wc-blue-night-eye: hsla(196,60%,49%,1);
  --wc-primary-night-eye: hsla(312,26%,52%,1);
  --wc-primary-text-night-eye: hsla(240,8%,12%,1);
  --wc-secondary-night-eye: hsla(0,0%,18%,1);
  --wc-secondary-text-night-eye: hsla(0,0%,32%,1);
  --wc-highlight-night-eye: hsla(102,26%,52%,1);
  --wc-highligh-text-night-eye: hsla(240,8%,12%,1);
  --wc-content-bg-night-eye: hsla(240,8%,12%,1);
  --wc-subtext-night-eye: hsla(0,0%,46%,1);
  box-sizing: border-box;
  border-color: #616161 !important;
  margin: 0px;
  font: inherit;
  font-family: inherit;
  appearance: button;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 100px !important;
  display: inline-block;
  color: rgb(255, 255, 255);
  line-height: 50px;
  padding: 0px 25px;
  border: none;
  font-weight: 700;
  background-color: rgb(88, 190, 213) !important;
}